PROJECT_NAME=fancy-todos
ENVIRONMENT=local

SECRET_KEY=changeme-generate-with-openssl-rand-hex-32

POSTGRES_SERVER=localhost
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=changeme
POSTGRES_DB=app

FIRST_SUPERUSER_EMAIL=admin@example.com
FIRST_SUPERUSER_PASSWORD=changeme123
